spring:
  application:
    name: user
  profiles:
    active: local
  config:
    import: "optional:configserver:http://localhost:8888"
  cloud:
    config:
      fail-fast: true
      username: user
      password: nimadirxavfsizlik # Config serverdagi xavfsizlik paroli

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG